extends layout

block content
  h1= title
  - let items = results
  div(class="container-fluid")
    div(class="row")
      each item,index in items
        div(class="col-sm-2",onClick=`buy(${index})`)
          p Color is #{item.Car_color}
          p Model is #{item.Car_model}
          p Title is #{item.Car_Title}
          p Mileage is #{item.Car_mileage}
          p Cost is #{item.Car_cost}
          //- Bonus Logic
  script.
    function buy(thing) {
      thing = thing+1;
      alert(`You Purchased Item ${thing}`);
    }
    